<div class="row full-height">
	<div class="widget-padding col-md-4">
		<div class="row-md-4 overflow">
			<widget  type="widgets[0].name" data="widgets[0].data"></widget>
		</div>
		<div class="row-md-4 overflow">
			<widget  type="widgets[1].name" data="widgets[1].data"
	        </widget>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow">
			<widget  type="widgets[2].name" data="widgets[2].data">
	        </widget>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-4 overflow">
			<widget  type="widgets[3].name" data="widgets[3].data">
			</widget>
		</div>
		<div class="row-md-4 overflow">
			<widget  type="widgets[4].name" data="widgets[4].data">
			</widget>
		</div>
	</div>
</div>
