<div class="row full-height">
	<div class="widget-padding col-md-4">
		<div class="row-md-4 overflow">
			<widget  type="widgets[0].name" data="widgets[0].data" color="widgets[0].color"></widget>
		</div>
		<div class="row-md-4 overflow">
			<widget  type="widgets[1].name" data="widgets[1].data" color="widgets[1].color"
	        </widget>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow">
			<widget  type="widgets[2].name" data="widgets[2].data" color="widgets[2].color">
	        </widget>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-4 overflow">
			<widget  type="widgets[3].name" data="widgets[3].data" color="widgets[3].color">
			</widget>
		</div>
		<div class="row-md-4 overflow">
			<widget  type="widgets[4].name" data="widgets[4].data" color="widgets[4].color">
			</widget>
		</div>
	</div>
</div>
