<div class="row">
	<div class="widget-padding col-md-12">
		<div class="clearfix">
			<widget-h1>Database</widget-h1>
		</div>
		<div id="test-control" class="row">
		    <button class="btn btn-default" ng-class="{disabled: buttons[0].disabled}" ng-click="createTestData()">
		    	create test data
		    </button>
		    <button class="btn btn-danger" ng-class="{disabled: buttons[1].disabled}" ng-click="deleteAllData()">
		    	delete all data
		    </button>
		</div>
	</div>
</div>
<div class="row">
	<div class="widget-padding col-md-12">
		<div class="clearfix">
			<widget-h1>Mobile Code</widget-h1>
				</div>
			<p>
				Enter this code on your phone <br>to pair your phone to the Wall.
			</p>
		<div class="mobile-code well well-sm">
			1234
		</div>
	</div>
</div>