<div class="settings content">
	<div class="row half-height">
		<div class="widget-padding col-md-4 full-height">
			<div class="clearfix">
				<widget-h1>Facebook</widget-h1>
			</div>
			<div class="settings-content">
				<div class="row-fluid">
					<div class="col-md-6">
						<h2>connect with facebook</h2>
						<button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">connect</button>
					</div>
					<div class="col-md-6">
						<h2>logout of facebook</h2>
						<button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Logout</button>
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-md-6">
						<h2>post to facebook</h2>
						<button class="post-button btn btn-success" ng-click="share()">This rocks!</button>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row half-height">
		<div class="widget-padding col-md-4 full-height">
			<div class="clearfix">
				<widget-h1>OAuth</widget-h1>
			</div>
			<div class="settings-content">
				<div class="row-fluid">
					<div class="col-md-6" ng-repeat="provider in providers">
						<h2>connect with {{provider}}</h2>
						<button class="btn btn-primary" ng-click="loginProvider(provider)">connect</button>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="row half-height">
		<div class="widget-padding col-md-4 full-height">
			<div class="clearfix">
				<widget-h1>Database</widget-h1>
			</div>
			<div class="settings-content">
				<div class="row-fluid">
					<div class="col-md-6">
						<h2>create test data</h2>
						<button class="btn btn-success" ng-class="{disabled: buttons[0].disabled}" ng-click="createTestData()">
							create
						</button>
					</div>
					<div class="col-md-6">
						<h2>delete test data</h2>
						<button class="btn btn-danger" ng-class="{disabled: buttons[1].disabled}" ng-click="deleteAllData()">
							delete
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row half-height">
		<div class="widget-padding col-md-4 full-height">
			<div class="clearfix">
				<widget-h1>JIAC</widget-h1>
			</div>
			<div class="settings-content">
				<div class="row-fluid">
					<div class="col-md-6">
						<h2>start jiac</h2>
						<button class="btn btn-success" ng-class="{disabled: buttons[0].disabled}" ng-click="runJiac()">
							start
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="widget-padding col-md-4">
			<div class="clearfix">
				<widget-h1>Mobile Code</widget-h1>
			</div>
			<div class="settings-content">
			<h2>Enter this code on your phone to pair your phone to the Wall.</h2>
			<div class="mobile-code well well-sm">
				{{ mobileId }}
			</div>
			</div>
		</div>
	</div>
</div>