<div class="col-xs-12 margin-tp">
	<div class="row">
	    <div class="col-xs-4"><button class="btn btn-primary full-width" ng-click="newKnownUser(4)">New Known User (4)</button></div>
	    <div class="col-xs-4"><button class="btn btn-primary full-width" ng-click="newKnownUser(10)">New Known User (10)</button></div>
	    <div class="col-xs-4"><button class="btn btn-primary full-width" ng-click="newUnknownUser()">New Unknown User</button></div>
	    <div class="col-xs-4"><button class="btn btn-danger full-width" ng-click="removeKnownUser(4)">Remove Known User (4)</button></div>
	    <div class="col-xs-4"><button class="btn btn-danger full-width" ng-click="removeKnownUser(10)">Remove Known User (10)</button></div>
	    <div class="col-xs-4"><button class="btn btn-danger full-width" ng-click="removeUnknownUser()">Remove Unknown User</button></div>
	</div>
</div>