<div class="toygamer-page">
    <section>
        <div class="toygamer-box">BITCH!
            <button class="effeckt-button" data-effeckt-type="fill-from-bottom" >
              <!--<span class="effeckt-button-label demo-button-icon">Icon from top</span> --> Fill from bottom
            </button>
            <a href="/">BACK!!</a>
                    <widget-title>TODOs</widget-title>
            
            <div class="toygamer-nav">
                <div class="toygamer-nav-el1"></div>
                <div class="toygamer-nav-el2"></div>
            </div>
        </div>
    </section>
    <section id="toygamer-sec-eins">
        <div class="toygamer-box">
                FUCK THIS!!!
        </div>
    </section>
    <section id="toygamer-sec-zwei">
        <div class="toygamer-box">
                ZWEI!!!
        </div>
    </section>
    <section id="toygamer-sec-drei">
        <div class="toygamer-box">
                DREI!!!
        </div>
    </section>
</div>