<div class="toygamer-page full-height">
        <div class="toygamer-box half-height half-width" tabindex="1">BITCH!
            <button class="effeckt-button" data-effeckt-type="fill-from-bottom" >
              <!--<span class="effeckt-button-label demo-button-icon">Icon from top</span> --> Fill from bottom
            </button>
            <a href="/">BACK!!</a>
                    <widget-title>TODOs</widget-title>
            
            <div class="toygamer-nav">
                <div class="toygamer-nav-el1"></div>
                <div class="toygamer-nav-el2"></div>
            </div>
        </div>
        <div class="toygamer-box half-height half-width" tabindex="2">
            EINS!
            <!--<widget-calendar calendars="calendars"></widget-calendar>-->
        </div>
        <div class="toygamer-box half-height half-width" tabindex="3">
                <form>
                    Vorname: <input type="text"></input><br>
                    Nachname: <input type="text"></input><br>
                    Username: <input type="text"></input><br>
                    eMail: <input type="email"></input><br>
                    Passwort: <input type="password"></input><br>
                </form>
            <div id="websocket-screen"></div>
        </div>
        <div class="toygamer-box half-height half-width" tabindex="4">
                DREI!!!
               <!-- <a href="/" tabindex="1">Testlink1</a><br>
                <a href="/" tabindex="3">Testlink2</a>
                <input tabindex="2"> </input>
                <input tabindex="4"></input>-->
        </div>
</div>