
<button ng-click="sidebar = !sidebar" class="sidebar-button btn btn-default">
	<b ng-show="!sidebar">&lt;</b><b ng-show="sidebar">&gt;</b>
</button>
<div class="sidebar sidebar-animate" ng-class="{'sidebar-active': sidebar}">
	<widget-h1>Menu</widget-h1>
	<br/>
	<div class="sidebar-menu">
		<ul>
			<a ui-sref="wrapper.main" ui-sref-active="active"><li>MAIN</li></a>
			<a ui-sref="wrapper.toygamer" ui-sref-active="active"><li>TOYGAMER</li></a>
			<a ui-sref="wrapper.playground" ui-sref-active="active"><li>PLAYGROUND</li></a>
			<a ui-sref="wrapper.settings" ui-sref-active="active"><li>SETTINGS</li></a>
		</ul>
	</div>
</div>
<div class="full-height sidebar-right sidebar-animate" ng-class="{'sidebar-active': sidebar}">
	<div ui-view=""></div>
</div>