
<button ng-click="sidebar = !sidebar" class="sidebar-button btn btn-default">
	<b ng-show="!sidebar">&lt;</b><b ng-show="sidebar">&gt;</b>
</button>
<div class="sidebar sidebar-animate" ng-class="{'sidebar-active': sidebar}">
	<widget-h1>Menu</widget-h1>
	<br/>
	<div class="sidebar-menu">
		<ul>
			<a ui-sref="wrapper.main" ui-sref-active="active" ng-click="sidebar = !sidebar"><li>MAIN</li></a>
			<a ui-sref="wrapper.settings" ui-sref-active="active" ng-click="sidebar = !sidebar"><li>SETTINGS</li></a>
			<a ui-sref="wrapper.mobile.navigation" ui-sref-active="active" ng-click="sidebar = !sidebar"><li>MOBILE</li></a>
			<a ui-sref="wrapper.radial" ui-sref-active="active" ng-click="sidebar = !sidebar"><li>RADIAL</li></a>
			<a ui-sref="wrapper.fair" ui-sref-active="active" ng-click="sidebar = !sidebar"><li>FAIR</li></a>
			<a ui-sref="wrapper.idle" ui-sref-active="active" ng-click="sidebar = !sidebar"><li>IDLE</li></a>
			<a ui-sref="wrapper.auth.new" ui-sref-active="active" ng-click="sidebar = !sidebar"><li>NEW USER</li></a>
		</ul>
	</div>
</div>
<div class="full-height sidebar-right sidebar-animate" ng-class="{'sidebar-active': sidebar}">
	<div ui-view=""></div>
</div>