<!-- <widget-title title="'Kalender - ' + moment().format('LL')"></widget-title> -->
<div class="row full-height">
	<div class="col-md-12 row-md-1 widget {{css}}" ng-click="addCalendarEntry()">
		<widget-h1 class="stick-bottom">Kalender - {{time}}</widget-h1>
		<span class="label label-default">{{data.length}} appointments left</span>
	</div>
	<widget-calendar-big  ng-repeat="d in data.slice(0,2)" color="color" css="css" data="d"></widget-calendar-big>
	<widget-calendar-middle ng-repeat="d in data.slice(2,-1)" color="color" css="css" data="d"></widget-calendar-middle><!-- 
	<widget-calendar-small ng-repeat="event in data.slice(7,19)" data="event" color="color" css="css"></widget-calendar-small> -->
	<div ng-hide="data" class="spinner"></div>
</div>