<div class="row full-height auth auth-main">
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow padding">
			<h1 class="auth header">Mobile-Code: {{mobileId}}</h1>
			<p class="auth explain">Gebe diesen Code unter http://192.144.0.1:9000/mobile ein und du kannst dein Smartphone als Eingabe benutzen.</p>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow text-center padding">
			<h1 class="auth header">Ok wir müssen jetzt ein paar Fotos machen und Personalien aufnehmen.</h1>
			<h2>Verbinde dich per Facebook:</h2>
			<button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">connect</button>
			<h4 class="">Tipp: du kannst diese Wand mit dem Handy benutzen, per Touchscreen und Kinect-Gesten.</h4>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow">
		</div>
	</div>
</div>
