<div class="row full-height auth auth-main">
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow padding">
			<h1 class="auth header">Mobile-Code: {{mobileId}}</h1>
			<p class="auth explain">Gebe diesen Code unter http://192.144.0.1:9000/mobile ein und du kannst dein Smartphone als Eingabe benutzen.</p>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow text-center padding">
			<h1 class="auth header">Du scheinst neu zu sein!</h1>
			<h4 class="">Tipp: du kannst diese Wand mit dem Handy benutzen, per Touchscreen und Kinect-Gesten.</h4>
			<div class="well">
				<webcam></webcam>
			</div>
			<button ui-sref="wrapper.main" type="button" class="btn btn-primary btn-lg btn-block">Demo Modus</button>
			<button ui-sref="wrapper.auth.new" type="button" class="btn btn-default btn-lg btn-block">Eintrainieren</button>
			<button ui-sref="wrapper.main" type="button" class="btn btn-default btn-lg btn-block">Anderer User</button>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow">
		</div>
	</div>
</div>
