<div class="row full-height">
	<div class="widget-padding col-md-4">
	</div>
	<div class="widget-padding col-md-4 text-center buttons">
		<h1 class="auth header margin-bt">Select the user you want to recognize again.</h1>
		<div class="col-md-12 margin-tp" ng-repeat="user in unknownUsers">
			<div class="col-md-3 row-md-1 widget {{css}} widget-padding" style="background-image: url({{user.image}}); background-size: cover;"></div>
			<div class="col-md-9">
				<button ui-sref="wrapper.auth.loading" ng-click="recognizeAgain(user.niteID)" type="button" class="btn btn-default btn-lg btn-block">Train User</button>
			</div>
		</div>
	</div>
	<div class="widget-padding col-md-4">
	</div>
</div>
