<div class="row full-height auth auth-main">
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow padding">
			<h1 class="auth header">Mobile-Code: {{mobileId}}</h1>
			<p class="auth explain">Gib diesen Code unter {{url}} ein und du kannst dein Smartphone als Eingabe benutzen.</h3>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow text-center padding">
			<h1 class="auth header">Willkommen {{user.firstName}} {{user.lastName}}!</h1>
			<div class="auth main-picture" style="background-image: url({{user.picture}});"></div>
			<button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
			<button type="button" class="btn btn-default btn-lg btn-block">Anderer User</button>
			<button ui-sref="wrapper.auth.new" type="button" class="btn btn-default btn-lg btn-block">Neuer User</button>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow">
		</div>
	</div>
</div>
