<div class="row full-height auth auth-main">
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow padding">
			<h1 class="auth header">Mobile-Code: {{mobileId}}</h1>
			<div class="auth explain">Gib diesen Code unter <div class="well well-sm margin-tp margin-bt">{{displayUrl}}</div> auf deinem Smartphone ein und du kannst es zur Texteingabe benutzen.</div>	
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow text-center padding">
			<h1 class="auth header">Willkommen User mit User-ID {{currentUser.userID}}!</h1>
			<div class="auth main-picture" style="background-image: url({{currentUser.image}});"></div>
			<div class="buttons">
				<button ui-sref="wrapper.main" type="button" class="btn btn-default btn-primary btn-lg btn-block">Start!</button>
				<button ng-click="recognize()" type="button" class="btn btn-default btn-lg btn-block">Anderer User</button>
			</div>
		</div>
	</div>
	<div class="widget-padding col-md-4">
		<div class="row-md-8 overflow padding">
			<h1 class="auth header">QR-Code</h1>
			<div class="auth explain">
				Zur Mobilseite kommst du auch, indem du diesen QR-Code scannst.
				<div class="margin-tp">
					<div class="well text-center">
						<qrcode version="{{version}}" error-correction-level="{{level}}" size="{{size}}" data="{{url}}"></qrcode>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-footer">
	<div class="alerts">
		<div class="item" ng-repeat="alert in alerts">{{alert.msg}}</div>
	</div>
</div>
