/* you can also define the transition style
   on the base class as well (.repeat-item) */
/*.ng-enter,
.ng-leave {
  -webkit-transition:1.5s ease all;
  transition:1.5s ease all;
}

.ng-enter,
.ng-leave.ng-leave-active {
  opacity: 0;
}
.ng-leave,
.ng-enter.ng-enter-active {
  opacity: 1;
}*/
