.auth.header {
	font-weight: 300;
	font-size: 4em;
}

.auth.main-picture {
	height: 20em;
	width: 20em;
	margin: 5em auto;
	border-radius: 30em;
	background-size: cover;
}

.auth.auth-main {
}

.auth.explain {
	font-size: 2em;
}