.flip {
  position: relative;
  -webkit-perspective: 800;
  perspective: 800px;
}

.flip.flipped .card {
  -webkit-transform: rotatey(180deg);
  transform: rotatey(180deg);
}

.flip .card {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.flip .card .face {

  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip .card .front {
  position: relative;
}

.flip .card .back {
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-transform: rotatey(180deg);
  transform: rotatey(180deg);
}