.flip {
  position: relative;
  -webkit-perspective: 800;
  perspective: 800px;
}

.flip.flipped .card {
  -webkit-transform: rotatey(180deg);
  transform: rotatey(180deg);
}

.flip .card {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  transition-timing-function: ease;
}
.flip .card .face {

  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip .card .front {
  position: relative;
}

.flip .card .back {
  z-index: 2;
  top: 0;
  -webkit-transform: rotatey(180deg);
  transform: rotatey(180deg);
}