.fullscreen-btn {
	position: absolute;
	right: 5px;
	bottom: 0;
}

.fullscreen-btn:hover {
	color: orange;
	cursor: pointer;
}

.fullscreen {
	position: absolute;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 9;
	font-size: 2em;
}

.fullscreen .day {
	font-size: 0.75em;
	width: 14%;
	text-align: center;
	float: left;
	padding: 0.5em;
}
