/* Space out content a bit */
body {
    font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}

.big-padding {
    padding: 1.35em 0.8em;
}

html, body {
	height: 100%;
}


#find-me {
    margin-bottom: 0.7em;
}
.angular-google-map {
    display: block;
    height: 100%;
}
.angular-google-map-container {
    height: 100%;
}

#cursor {
    display: none;
    /*This should be set when cursor appears*/
    /*display: block;*/
    width: 10px;
    height: 10px;
    position: fixed;
    background-color: red;
    z-index: 9999;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Add lato as default font */

body {
  font-family: 'Lato', sans-serif;
}

.full-height {
	min-height: 100%;
}

.half-height {
	min-height: 50%;
}

.half-width {
    min-width: 50%;
}

.debug {
	/*border: solid gray 1px; */
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.overflow {
  overflow-y: auto;
  padding: 0.45em 0.8em;
}

.widget-padding {
  padding: 0.45em 0.8em;
}

.row {
	margin-left: -0.3em;
	margin-right: -0.3em;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.col-md-12, col-lg-12, col-sm-12, col-xs-12 {
	float: left;
}

img {
    height: 100%;
    width: 100%;
}

.red {
	background-color: #F79514;
}

.orange {
	background-color: #D0011B;
}

.green {
	background-color: #69C914;
}

.full-width {
	width: 100%;
}

.container {
	max-width: none;
}

#toygamer-sec-eins{
    /*background-color: red;*/
}
#toygamer-sec-zwei{
    /*background-color: blue;*/
}

.animate-border {
     transition: box-shadow 500ms, transform 500ms;
    -webkit-transition: -webkit-box-shadow 500ms, -webkit-transform 500ms;
    -moz-transition: box-shadow 500ms, transform 500ms;
    -ms-transition: box-shadow 500ms, transform 500ms;
    transition-timing-function: ease-in-out;
}

.border{
    -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.25);
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.25);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
    background-color: white;
    z-index: 100;
}

.noborder{
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.25);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.25);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: white;
    opacity: 1;
    z-index: 99;
}

.toygamer-box{
    width: 50%;
    height: 50%;
    background-color: #555555;
    float:left;
}

.toygamer-box:focus{
    /*border-color: red;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-style: groove;*/
    -moz-box-shadow: inset 0 0 5px 5px lightblue;
    box-shadow: inset 0 0 5px 5px lightblue;
}

.toygamer-box > a:hover {
    color: aquamarine;
}

.toygamer-box  a:focus {
    color: red;
    background-color: green;
}

.toygamer-box > input:focus{
    color: red;
}

/*
.toygamer-box:hover{
    width: 100%;
    height: 100%;
    background-color: red;
    position:fixed;
    transition: all 4s;
}
*/


.toygamer-nav{
    height:80px;
    width:150px;
    float: left;
}

.toygamer-nav-el1{
    height:40px;
    width:40px;
    padding:10px;
    margin: 0 10px 0 10px;
    transform: rotate(-30deg);
    transition: all 4s;
    background-color: #69C914;
    float:left;
}
.toygamer-nav-el1:hover{
    background-color: blue;
    transform: translateZ(400px);

    transition: transform 1.5s;
    transform: rotate(0deg);

}

.toygamer-nav-el1:hover:after{
    background-color: red;
}

.toygamer-nav-el2{
    height:40px;
    width:40px;
    padding: 10px;
    margin: 0 10px 0 10px;
    transform: rotate(30deg);
    background-color: #69C914;
    float: left;
}