.radial {
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0.95;
	pointer-events:none;
	z-index: 999;
}

.svg-menu {
	stroke: white;
	stroke-width: 0.6em;
}

.svg-menu-text {
	font: normal 2em Lato;
}