widget-h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 200;
	font-size: 2em;
	float: left;
}

widget-h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	color: #2D7CDB;
	font-size: 2em;
}

widget-h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	color: #2D7CDB;
	font-size: 1.5em;
}

.widget {
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	background-color: #F9F9F9;
}

.widget-item {
	padding-bottom: 0.6em;
}

.todo {
	height: 6em;
}

.todo .btn {
	padding: 0;
	font-size: 1em;
}

.todo-dot {
	top: 0.5em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	right: 0.5em;
	position: absolute;
	-webkit-transform: translateZ(1px);
	border-radius: 50%;
	width: 0.9em;
	height: 0.9em;
}

.todo-flipped {
	background-color: #4A494A;
	color: white;
}

.effeckt-caption figcaption {
	background: rgba(255, 255, 255, 0.8);
	color: black;
	padding: 1rem;
}

.news {

}

.social {
	height: 8em;
}

.twitter {
	border-left: 0.5em solid #4099FF;
}

.facebook {
	border-left: 0.5em solid #3B5999;
}

.social img {
	float: left;
	border-radius: 100%;
}

.social .title {
	width: 5em;
	float: left;
}

.social .title {
	margin-right: 0.4em;
	text-align: center;
	font-size: 0.8em;
}

.social .profile-pic {
	background-size: cover;
	background-image: url('http://hollywoodhatesme.files.wordpress.com/2011/08/cillian-murphy.jpg');
	border-radius: 100%;
	width: 5em;
	height: 5em;
}

.day {
	text-align: left;
	width: 50%;
	float: left;
	padding: 0.5em;
}

.event {
	margin-bottom: 1em;
	padding: 0.5em;
	text-align: left;
	background-color: #FBFBFB;
	position: relative;
}

.business {
	border-left: 0.5em solid blue;
}

.private {
	border-left: 0.5em solid green;
}

.news-publisher {
	position: absolute;
	right: 1em;
	bottom: 1.5em;
}

widget-maps {
	height: 100%;
}

widget-maps widget {
	height: 100%;
}

widget-maps widget .ng-transclude {
	height: 100%;
}

widget-maps form {
	height: 100%;
}

widget-maps google-map {
	height: 100%;
	width: 100%;
}


.angular-google-map {
    display: block;
    height: 100%;
}
.angular-google-map-container {
    height: 100%;
}

.settings .settings-content {
	padding: 0.5em 0 0 1em;
}

.settings .settings-content h2 {
	margin: 0.2em 0 0.2em 0;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	color: gray;
}

.settings .settings-content button {
	width: 100%;
}