widget-h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 200;
	font-size: x-large;
}

widget-h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	color: #2D7CDB;
	font-size: x-large;
}

widget-h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	color: #2D7CDB;
	font-size: large;
}

.widget {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #F9F9F9;
}

.todo {
	height: 80px;
	/* The TODO-text should break before the type-dot */
	padding-right: 15px; 
}

.todo-dot {
	top: 5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	right: 10px;
	position: absolute;
	-webkit-transform: translateZ(1px);
	border-radius: 50%;
	width: 12px;
	height: 12px;"
}

.todo-flipped {
	background-color: #4A494A;
	color: white;
}

.effeckt-caption figcaption {
	background: rgba(255, 255, 255, 0.8);
	color: black;
	padding: 1rem;
}

.news {

}

.fullscreen-btn {
	position: absolute;
	right: 5px;
	bottom: 0;
}

.fullscreen-btn:hover {
	color: orange;
	cursor: pointer;
}

.fullscreen {
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 9;
	font-size: 24px;
}

.fullscreen widget-h2 {
	font-size: 50px;
}

.fullscreen widget-h3 {
	font-size: 35px;
}

.fullscreen widget-h1 {
	font-size: 50px;
}

.fullscreen .todo {
	height: 150px;
}

.fullscreen .btn {
	font-size: 24px;
}

.fullscreen .todo-dot {
	width: 24px;
	height: 24px;
}