<div class="row full-height">
	<div class="col-md-12 row-md-1 widget {{css}}" ng-click="newMail()">
		<widget-h1 class="stick-bottom">Mails</widget-h1>
		<span class="label label-default">{{data.length}} Mails verfügbar</span>
	</div>
	<div ng-repeat="d in data">
		<div class="col-md-12 row-md-1 widget {{css}} widget-padding" ng-click="displayMail($event, d)">
			<div>
				<widget-h2>{{d.from | uppercase}} - {{d.subject}}</widget-h2>
				<widget-h2 class="pull-right">{{$parent.moment(d.received).format('DD.MM H:mm')}}</widget-h2>
			</div>
			<p class="widget-padding">
			{{d.content | truncate:450}}	
			</p>
		</div>
	</div>
	<div ng-hide="data" class="spinner"></div>
</div>