<!-- <widget-title title="'Persönliche Daten'"></widget-title> -->
<div class="row full-height {{color}}">
	<div class="col-md-12 row-md-1 widget {{color}}"><widget-h1>Hello, {{data.first_name}} {{data.last_name}}</widget-h1></div>
	<div class="col-lg-6 row-md-2 widget {{color}}" style="background-image: url({{data.picture.url}});background-size: cover;"></div>
	<div class="col-lg-6 row-md-1 widget-padding">
		<div class="row">
			<div class="col-lg-12 row-md-1 widget {{color}}">
				Name:
				<br/>
				<widget-h2>{{data.first_name}} {{data.last_name}}</widget-h2>
			</div>
			<div class="col-lg-12 row-md-1 widget {{color}}">
				E-Mail:
				<br/>
				<widget-h2>{{data.email}}</widget-h2>
			</div>
		</div>
	</div>
</div>

