<div class="row full-height">
	<div class="col-md-6 row-md-2 widget {{css}}" style="background-image: url({{data.picture}}); background-size: cover;"></div>
	<div class="col-md-6 row-md-1 widget-padding">
		<div class="row">
			<div class="col-md-12 row-md-1 widget {{css}}" ui-sref="wrapper.settings">
				<widget-h1 class="stick-bottom">{{data.firstName}} {{data.lastName}}</widget-h1>
			</div>
			<div class="col-md-12 row-md-1 widget {{css}} {{css}}-1">
				<widget-h2>Mobile-Code: </widget-h2>
				<br/>
				<widget-h1>{{ $parent.mobileId }}</widget-h1>
			</div>
		</div>
	</div>
</div>

