<div class="row full-height">
	<div class="col-md-6 row-md-1 widget {{css}}">
		<widget-h1 class="stick-bottom">Debug</widget-h1>
	</div>
	<div class="col-md-6 row-md-1 widget {{css}}">
		<b>Erkannte Benutzer:</b> 8
		<br/>
		<b>Ausgeführte Gesten:</b> {{gestureCounter}}
		<br/>
		<b>Erkannte Benutzer:</b> 8
	</div>
	<div ng-repeat="user in r.users">
		<div class="col-md-3 row-md-1 widget {{css}} widget-padding">
			<div class="footer">
				niteID: {{user.niteID}}
				<br/>
				userID: {{user.userID}}
				<br/>
				allowed; {{user.allowed}}
			</div>
		</div>
	</div ng-repeat>
	<div class="col-md-12 row-md-1 widget {{css}} text-center">
		<widget-h1>
			<span style="{{$last && 'color: black'}};" ng-repeat="key in keys">{{key}}&nbsp</span>
		</widget-h1>
		<div class="footer">
			Zuletzt erkannte Gesten
		</div>
	</div>

</div>