<div class="row full-height" ng-style="{'background-color': color}">
  <div ng-click="addSocialPost()" class="col-md-6 row-md-1 widget {{css}}"><widget-h1 class="stick-bottom">
  	Social</widget-h1>
  </div>
  <widget-social-small ng-repeat="post in data.goodPosts.slice(0,1)" data="post" color="color" css="css"></widget-social-small>
  <widget-social-picture ng-repeat="post in data.picturePosts.slice(0,2)" data="post" color="color" css="css"></widget-social-picture>
  <widget-social-small ng-repeat="post in data.goodPosts.slice(1,15)" data="post" color="color" css="css"></widget-social-small>
  <div ng-hide="data" class="spinner"></div>
</div>