<!-- <widget-title title="'Kalender - ' + moment().format('LL')"></widget-title> -->
<div class="row full-height" ng-style="{'background-color': color}">
	<div class="col-md-6 row-md-1"><widget-h1>Kalendar</widget-h1></div>
  	<div class="col-md-6 row-md-1"><widget-h1>{{moment().format('D.M H:mm')}}</widget-h1></div>
  	
  	<div class="col-md-12 row-md-2 widget" ng-style="{'border-color': color}">Test</div>
  	
  	<div class="col-md-6 row-md-2 widget" ng-style="{'border-color': color}">Test</div>
  	
  	<div class="col-md-6 row-md-2 widget" ng-style="{'border-color': color}">Test</div>
	
	<div ng-repeat="event in data" class="col-md-3 row-md-1 widget" ng-style="{'border-color': color}">
		<b>{{moment(event.startDate).format('H:mm')}} - {{moment(event.endDate).format('H:mm')}}</b>
		<br/>
		{{event.text}}
	</div>
</div>