<widget title="'Social'">
  <div class="row">
    <div ng-repeat="s in social" class="col-lg-6 todo-animate" style="padding-bottom: 10px;">
      <flip flip-toggle>
        <flip-front>
          <div class="widget social">
              <div class="{{s.type}} social-bar">
              </div>
              <img style="width: 64px; height: 64px;" src="{{s.picture}}" alt="">
              <div class="body">
                <b>{{s.name}}</b>
                {{ s.text | truncate:40 }}
              </div>
          </div>
        </flip-front>
        <flip-back>
          <div class="widget social todo-flipped">
              {{s.text}}
          </div>
        </flip-back>
      </flip>
    </div>
  </div>
</widget>