<widget>
	<widget-title title="'Persönliche Daten'"></widget-title>
	<div class="row">
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-12 widget-item">
					<div class="widget">
						Name:
						<br/>
						<widget-h2>{{user.first_name}} {{user.last_name}}</widget-h2>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="widget">
						E-Mail:
						<br/>
						<widget-h2>{{user.email}}</widget-h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<figure class="effeckt-caption" data-effeckt-type="revolving-door-left">
			    <img ng-src='{{user.picture.url}}'/>
			    <figcaption>
			      <div class="effeckt-figcaption-wrap">
			        <p>Lorem ipsum dolar.</p>
			      </div>
			    </figcaption>
			  </figure>
		</div>
	</div>
</widget>