<widget>
  <widget-title title="'TODOs'"></widget-title>
  <div class="row">
    <div class="col-lg-4">
      <div class="widget todo" style="text-align: center; top: 50%;">
          <button style="width: 100%; height: 100%;" ng-click="addTodo($index)" type="button" class="btn btn-success">new Todo</button>
        </div>
    </div>
    <div ng-repeat="todo in todos | reverse" class="col-lg-4 todo-animate widget-item">
      <flip flip-toggle>
        <flip-front>
          <div class="widget todo">
              <div class="{{todo.type}} todo-dot">
              </div>
              {{todo.text}}
          </div>
        </flip-front>
        <flip-back>
          <div class="widget todo todo-flipped">
              <button ng-click="removeTodo($index)" type="button" class="btn btn-success btn-sm full-width half-height">done</button>
              <button ng-click="changeTodo($index)" type="button" class="btn btn-primary btn-sm full-width half-height">change</button>
          </div>
        </flip-back>
      </flip>
    </div>
  </div>
</widget>