<widget>
  <widget-title title="'Maps'"></widget-title>
  <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required full-height" name="angularGoogleMapsForm" novalidate="">
  							<fieldset>

  								<div ng-hidden="!navigator.geolocation">
  										<a class="btn btn-default btn-xs" ng-click="findMe()" href="" id="find-me">
  											Find my position
  										</a>
  									</div>
  								</div>
  							</fieldset>

							  <google-map id="google-map"
									center="center"
									zoom="zoom"
									latitude="clickedLatitude"
									longitude="clickedLongitude"
									mark-click="true"
									draggable="true"
                  refresh="refresh">
								</google-map>
  					</form>
</widget>