<widget>
  <widget-title title="'Social'">
  <div class="pull-right">
    <div style='float: left;' ng-bind-html="htmlForMax"></div>
    <div ng-init="hangout()" style="float: left;" id="placeholder-div"></div>
  </div>
  </widget-title>
  <div class="row">
    <div ng-repeat="s in social" class="col-lg-6 widget-item">
      <flip flip-toggle>
        <flip-front>
          <div class="widget social {{s.type}}">
              <div class="social-bar">
              </div>
              <div class="title">
                <!-- This line throws error 500s -->
                <div class="profile-pic" ng-style="{'background-image': url(s.picture)}"></div>
                {{s.name}}
              </div>
              <div class="body">
                {{ s.text | truncate:70 }}
              </div>
          </div>
        </flip-front>
        <flip-back>
          <div class="widget social todo-flipped">
              {{s.text}}
          </div>
        </flip-back>
      </flip>
    </div>
  </div>
</widget>