<widget title="'Persönliche Daten'">
	<div class="row">
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-12" style="padding-bottom: 10px;">
					<div class="widget">
						Name:
						<br/>
						<widget-h2>{{name}}</widget-h2>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="widget">
						Telefon:
						<br/>
						<widget-h2>{{telephone}}</widget-h2>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<figure class="effeckt-caption" data-effeckt-type="revolving-door-left">
			    <img src="{{picture}}" alt="">
			    <figcaption>
			      <div class="effeckt-figcaption-wrap">
			        <p>Lorem ipsum dolar.</p>
			      </div>
			    </figcaption>
			  </figure>
		</div>
	</div>
</widget>