<div class="row separation-border">
        <div class="col-xs-12 modal-col">
            <h4>Network</h4>
            <div class="btn-group full-width">
                <button type="button" class="btn half-width btn-info" ng-model="modal.type" btn-radio="'twitter'">Twitter</button>
                <button type="button" class="btn half-width btn-primary" ng-model="modal.type" btn-radio="'facebook'">Facebook</button>
            </div>
        </div>
        <div class="col-xs-12 modal-col">
            <h4>Entry</h4>
            <textarea ng-model="textinput" class="form-control modal-textarea"></textarea>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>