<div class="row separation-border">
   <!--  <div class="col-xs-12 modal-col">
        <h4>Priority</h4>
        <div class="btn-group full-width">
            <button type="button" class="btn third-width btn-success" ng-model="$parent.modal.type" btn-radio="'green'">Low</button>
            <button type="button" class="btn third-width btn-warning" ng-model="$parent.modal.type" btn-radio="'orange'">Middle</button>
            <button type="button" class="btn third-width btn-danger" ng-model="$parent.modal.type" btn-radio="'red'">High</button>
        </div>
    </div> -->
    <div class="col-xs-12 modal-col">
        <h4>Name</h4>
        <input type="text" class="form-control" placeholder="Name" ng-model="$parent.modal.name">
    </div>
    <div class="col-xs-12 modal-col">
        <h4>Startdate</h4>
        <div class="well well-sm col-xs-12 row">
            <div class="" ng-model="$parent.modal.startHours">
                <center>
                    <timepicker show-meridian="false"></timepicker>
                </center>
            </div>
             <div class="" ng-model="$parent.modal.startTime">
                <center>
                    <!-- <input type="text" class="form-control" datepicker-popup="dd MMMM yyyy" ng-model="$parent.modal.startDate" is-open="opened" show-weeks="false" show-button-bar="false" ng-required="true"></input> -->
                    <datepicker show-weeks="false" starting-day="1"></datepicker>
                </center>
            </div>
        </div>
    </div>
    <div class="col-xs-12 modal-col">
        <h4>Enddate</h4>
        <div class="well well-sm col-xs-12 row">
            <div class="" ng-model="$parent.modal.endHours">
                <center>
                    <timepicker show-meridian="false"></timepicker>
                </center>
            </div>
            <div class="" ng-model="$parent.modal.endTime">
                <center>
                    <!-- <input type="text" class="form-control" datepicker-popup="dd MMMM yyyy" ng-model="$parent.modal.startDate" is-open="opened" show-weeks="false" show-button-bar="false" ng-required="true"></input> -->
                   <datepicker show-weeks="false" starting-day="1"></datepicker>
                </center>
            </div>   
        </div>
    </div>
    <div class="col-xs-12 modal-col">
        <h4>Location</h4>
        <input type="text" class="form-control" placeholder="Location" ng-model="$parent.modal.location">
    </div>
    <div class="col-xs-12 modal-col">
        <h4>Persons</h4>
        <input type="text" class="form-control" placeholder="Persons" ng-model="$parent.modal.persons">
    </div>
    <div class="col-xs-12 modal-col">
        <h4>Description</h4>
        <textarea ng-model="$parent.modal.description" class="form-control modal-textarea"  placeholder="Description"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>