<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 modal-col">
            <h4>Priority</h4>
            <div class="btn-group full-width">
                <button type="button" class="btn third-width btn-success" ng-model="modal.type" btn-radio="'green'">Low</button>
                <button type="button" class="btn third-width btn-warning" ng-model="modal.type" btn-radio="'orange'">Middle</button>
                <button type="button" class="btn third-width btn-danger" ng-model="modal.type" btn-radio="'red'">High</button>
            </div>
        </div>
        <div class="col-xs-12 modal-col">
            <h4>Textinput</h4>
            <textarea ng-model="textinput" class="form-control modal-textarea"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>